<md-card class="header">
    <h3 class="hacked_font"><b>OBSCURA 4.5</b></h3>
    <button class="navigators" md-raised-button (click)="Logout()">LOGOUT</button>
    <button class="navigators" md-raised-button (click)="getAlias()">ARENA</button>
    <button class="navigators" md-raised-button (click)="ourTeam()">OUR TEAM</button>
    <button md-raised-button class="navigators" [mdMenuTriggerFor]="menu">LEVELS</button>
    <md-menu #menu="mdMenu">
      <div *ngFor="let list of level">
        <button md-menu-item (click)="openLevel(list.name)">LEVEL {{list.levelNo}}</button>
      </div>
    </md-menu>

</md-card>
<md-card class="content" id="one">
    <md-card id="content-card">
        <countdown units="Days | Hours | Minutes | Seconds"  end="October 06, 2017"></countdown>
        <h2><b>LEADERBOARD</b></h2>
        <md-card-content>
            <md-card class="name-plate" *ngFor="let entry of leaderboard">
              <div class="detail">{{entry.username}}</div><div class="detail">{{entry.college}}</div><div class="detail">{{entry.level}}</div>
            </md-card>
        </md-card-content>
    </md-card>
</md-card>
<md-card class="footer">
    <h4><b>GAWDS 2017</b></h4>
</md-card>
