<md-card class="header" fxLayout="row" fxLayoutAlign="stretch">
    <div class="navigators">
        <h3 class="hacked_font" ><b>OBSCURA 4.5</b></h3>
    </div>
    <div class="navigators" id="btns">
        <button md-raised-button  [mdMenuTriggerFor]="menu">LEVELS</button>
        <button  md-raised-button (click)="ourTeam()">OUR TEAM</button>
        <button  md-raised-button (click)="getAlias()">ARENA</button>
        <button  md-raised-button (click)="Logout()">LOGOUT</button>
        <md-menu #menu="mdMenu">
          <div *ngFor="let list of level">
            <button md-menu-item (click)="openLevel(list.name)">LEVEL {{list.levelNo}}</button>
          </div>
        </md-menu>
    </div>
</md-card>
<md-card class="content" id="one">
    <md-card id="content-card">
        <countdown units="Days | Hours | Minutes | Seconds"  end="Fri Oct 06 2017 18:00:00 GMT+0530 (IST)"></countdown>
        <h2><b>LEADERBOARD</b></h2>
        <md-card-content>
            <md-card class="name-plate" *ngFor="let entry of leaderboard; let i = index" [attr.data-index]="i">
              <div class="detail"><b>{{i+1}}</b></div><div class="detail"><b>{{entry.username}}</b></div><div class="detail"><b>{{entry.college}}</b></div><div class="detail"><b>{{entry.level}}</b></div>
            </md-card>
        </md-card-content>
    </md-card>
</md-card>
<!-- <md-card class="footer">
    <h4><b>GAWDS 2017</b></h4>
</md-card> -->
