<md-card class="header" fxLayout="row" fxLayoutAlign="stretch">
  <div class="navigators" id="title">
      <h3 [ngx-scroll-to]="'#one'" class="hacked_font"><b>OBSCURA 4.5</b></h3>
  </div>
  <div class="navigators" id="btns">
    <button md-button  [ngx-scroll-to]="'#two'"><b>RULES</b></button>
    <button md-button  [ngx-scroll-to]="'#three'"><b>ABOUT US</b></button>
  </div>
</md-card>
<md-card class="content" id="one">
    <div id="logo">
        <img  src="../assets/images/a.png" height="200" width="200"><br>
        <h1 class="hacked_font"><b>OBSCURA 4.5</b></h1>
        <br>
        <br>
        <button  md-raised-button [routerLink]="['/login']"><h4>Let's Go</h4></button>
    </div>
</md-card>
<md-card class="content" id="two">
    <div class="content-info" id="rules">
        <br>
        <br>
        <h1><b>RULES</b></h1>
        <h3>
          * Use of Google is permitted. What's more, we recommend the use of Google.<br><br><br>
          * Upper case characters and spaces are not permitted in the answers.<br><br><br>
          * Out of the box thinking is encouraged as ObscurA puts up questions which require unconventional line of thought.<br><br><br>
          * We give hints only if asked properly.<br><br><br>
          * Keep an eye on our FB profile and Twitter handle as we will regularly post hints and updates there.
        </h3>
    </div>
</md-card>
<md-card class="content" id="three">
    <div class="content-info" id="contact">
        <h1><b>ABOUT US</b></h1>
        <br><br>
        <h3>One of the most happening and fun crypt hunts of this year is ObscurA 4.5. ObscurA is derived from the word "Obscure" which means "keep from being seen; conceal", and that is what we do. We allow you to use any means at your disposal (that includes
            google) to crack the questions we pose to you, with special prizes for cracking some specific questions, BUT there is a catch. Our questions are not straightforward. Most of them are based on wordplay, cyphers and lateral thinking (among other
            things). So put on your thinking caps, flex your fingers and get ready for a race to decide who will crack the last question first and will be the winner of Obscura4.5. Happy hunting!!.. </h3>
    </div>
</md-card>
<md-card class="footer">
    <h4><b><a href="http://www.gawds.in">GAWDS 2017</a></b></h4>
</md-card>
