<md-card class="header">
  <h3><b>OBSCURA 4.5</b></h3>
</md-card>
<md-card class="content" id="one">
  <md-card id="content-card">
      <h2><b>Create Level</b></h2>
      <form #myForm="ngForm" (ngSubmit)="submitForm(myForm.value)">
          <md-input-container class="fields">
              <input mdInput placeholder="Alias" required [(ngModel)]="level.name" name="name">
          </md-input-container>
          <br>
          <md-input-container class="fields">
              <input mdInput placeholder="Level No" required [(ngModel)]="level.levelNo" name="levelNo">
          </md-input-container>
          <br>
          <md-input-container class="fields">
            <input mdInput placeholder="Next Url" required [(ngModel)]="level.nextUrl" name="nextUrl">
          </md-input-container>
          <br>
          <md-input-container class="fields">
              <input mdInput placeholder="Picture Url" required [(ngModel)]="level.picture" name="picture">
          </md-input-container>
          <br>
          <md-input-container class="fields">
              <input mdInput placeholder="Html" required [(ngModel)]="level.html" name="html">
          </md-input-container>
          <br>
          <md-input-container class="fields">
            <input mdInput placeholder="Javascript" required [(ngModel)]="level.js" name="js">
          </md-input-container>
          <br>
          <md-input-container class="fields">
            <input mdInput placeholder="Hint" required [(ngModel)]="level.hint" name="hint">
          </md-input-container>
          <br>
          <md-input-container class="fields">
            <input mdInput placeholder="Answer" required [(ngModel)]="level.ans" name="ans">
          </md-input-container>
          <br>
          <button md-raised-button [disabled]="!myForm.form.valid">Sign Up</button>
      </form>
  </md-card>
</md-card>
<md-card class="footer">
  <h4><b>GAWDS 2017</b></h4>
</md-card>
