<md-card class="header">
  <h3><b>OBSCURA 4.5</b></h3>
  <button class="navigators" md-raised-button (click)="Logout()">LOGOUT</button>
  <button class="navigators" md-raised-button (click)="getAlias()">ARENA</button>
  <button class="navigators" md-raised-button (click)="ourTeam()">OUR TEAM</button>

<md-card class="content" id="one">
  <md-card id="content-card">
      <h2><b>Levels</b></h2>
      <md-card-content>
          <md-card class="name-plate" *ngFor="let entry of leaderboard">
              <b>{{entry.username}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <b>{{entry.college}}</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <b>{{entry.level}}</b>
          </md-card>
      </md-card-content>
  </md-card>
</md-card>
<md-card class="footer">
  <h4><b>GAWDS 2017</b></h4>
</md-card>
