<div class="head"></div>
<div class="bottom"></div>
<md-card class="card">
    <h1>Login to Obscura</h1>
    <md-input-container class="fields">
        <input mdInput placeholder="Email Address">
    </md-input-container>
    <br>
    <md-input-container class="fields">
        <input mdInput placeholder="Password">
    </md-input-container>
    <br>
    <button md-raised-button [routerLink]="['/dashboard']">Login</button>
    <button md-raised-button [routerLink]="['/signup']">Sign up</button>
    <br>
    <br>
    <button md-raised-button (click)="loginWithFacebook()">Login with Facebook</button>
    <br><br>
    <section class="google-login-page">
        {{token}}
        <button *ngIf="!token" id="google-login-button" class="btn btn-primary" (click)="googleAuthenticate()">Google Sign-In</button>
    </section>
</md-card>