.header {
    width: 100%;
    height: 12%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #2C3E50;
    color: white;
    padding-bottom: 2%;
    font-weight: 700;
    align-content: centre;
}

.content {
    top: 9%;
    height: 91%;
    width: 100%;
}

.footer {
    background-color: #2C3E50;
    height: 9%;
    text-align: center;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
}

#progress {
    z-index: 1;
    top: 12%;
    position: absolute;
}

#one {
    background-color: #49E3C3;
    align-content: centre;
    color: white;
}

#content-card {
    height: 70%;
    width: 60%;
    position: relative;
    left: 20%;
    top: 30%;
    color: #2C3E50;
    text-align: center;
}
button{
  margin: auto;
}
#fbbtn{
  color: white;
  background-color:#3b5998;
}
#googlebtn{
  color: white;
  background-color:  #dd4b39;
}
