<md-card class="header">
    <h3><b>OBSCURA 4.5</b></h3>
</md-card>
<md-progress-bar *ngIf="bar" id="progress" mode="indeterminate"></md-progress-bar>
<md-card class="content" id="one">
    <div id="content-card">
        <h3><b>LOGIN TO OBSCURA</b></h3>
        <button md-raised-button (click)="loginWithFacebook()">Login with Facebook</button>
        <button md-raised-button (click)="googleLogin()">Login with Google</button>
    </div>
</md-card>
<md-card class="footer">
    <h4><b>GAWDS 2017</b></h4>
</md-card>