<md-card class="header">
    <h3><b>OBSCURA 4.5</b></h3>
    <button class="navigators" md-raised-button (click)="Logout()">LOGOUT</button>
    <button class="navigators" md-raised-button (click)="leaderboard()">LEADERBOARD</button>
    <button class="navigators" md-raised-button (click)="getAlias()">ARENA</button>
</md-card>
<md-progress-bar *ngIf="bar" id="progress" mode="indeterminate"></md-progress-bar>
<md-card class="content" id="one">
    <h2><b>OUR TEAM</b></h2>
    <md-card class="member">
        <md-card-header>
            <md-card-title>Anonymous</md-card-title>
            <md-card-subtitle>Phoenix</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/images/1.jpg">
    </md-card>
    <md-card class="member">
        <md-card-header>
            <md-card-title>Anonymous</md-card-title>
            <md-card-subtitle>Phoenix</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/images/2.jpg">
    </md-card>
    <md-card class="member">
        <md-card-header>
            <md-card-title>Anonymous</md-card-title>
            <md-card-subtitle>Phoenix</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/images/3.jpg">
    </md-card>
    <md-card class="member">
        <md-card-header>
            <md-card-title>Anonymous</md-card-title>
            <md-card-subtitle>Phoenix</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/images/4.jpg">
    </md-card>
    <md-card class="member">
        <md-card-header>
            <md-card-title>Anonymous</md-card-title>
            <md-card-subtitle>Phoenix</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/images/5.jpg">
    </md-card>
    <md-card class="member">
        <md-card-header>
            <md-card-title>Anonymous</md-card-title>
            <md-card-subtitle>Phoenix</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/images/6.jpg">
    </md-card>
    <md-card class="member">
        <md-card-header>
            <md-card-title>Anonymous</md-card-title>
            <md-card-subtitle>Phoenix</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/images/7.jpg">
    </md-card>
    <md-card class="member">
        <md-card-header>
            <md-card-title>Anonymous</md-card-title>
            <md-card-subtitle>Phoenix</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/images/8.jpg">
    </md-card>
    <md-card class="member">
        <md-card-header>
            <md-card-title>Anonymous</md-card-title>
            <md-card-subtitle>Phoenix</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/images/9.jpg">
    </md-card>
    <md-card class="member">
        <md-card-header>
            <md-card-title>Anonymous</md-card-title>
            <md-card-subtitle>Phoenix</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/images/10.jpg">
    </md-card>
    <md-card class="member">
        <md-card-header>
            <md-card-title>Anonymous</md-card-title>
            <md-card-subtitle>Phoenix</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/images/21.jpg">
    </md-card>
    <md-card class="member">
        <md-card-header>
            <md-card-title>Anonymous</md-card-title>
            <md-card-subtitle>Phoenix</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/images/22.jpg">
    </md-card>
    <md-card class="member">
        <md-card-header>
            <md-card-title>Anonymous</md-card-title>
            <md-card-subtitle>Phoenix</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/images/23.jpg">
    </md-card>
    <md-card class="member">
        <md-card-header>
            <md-card-title>Anonymous</md-card-title>
            <md-card-subtitle>Phoenix</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/images/41.jpg">
    </md-card>
    <md-card class="member">
        <md-card-header>
            <md-card-title>Anonymous</md-card-title>
            <md-card-subtitle>Phoenix</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="../../assets/images/a.png">
    </md-card>
</md-card>
<md-card class=" footer ">
    <h4><b>GAWDS 2017</b></h4>
</md-card>