<md-card class="header">
    <h3 class="hacked_font"><b>OBSCURA 4.5</b></h3>
    <button class="navigators" md-raised-button (click)="Logout()">LOGOUT</button>
    <button class="navigators" md-raised-button (click)="leaderboard()">LEADERBOARD</button>
    <button class="navigators" md-raised-button (click)="getAlias()">ARENA</button>
</md-card>
<md-progress-bar *ngIf="bar" id="progress" mode="indeterminate"></md-progress-bar>
<md-card class="content" id="one">
    <h2><b>ELDERS</b></h2>
    <div class="fx" fxLayout="row" fxLayoutAlign="center center">
      <md-card class="member">
        <md-card-header>
            <md-card-title>Pusharak</md-card-title>

        </md-card-header>
        <img md-card-image src="../../assets/team/pusharak.jpg">
      </md-card>
      <md-card class="member">
        <md-card-header>
            <md-card-title>Srijan</md-card-title>

        </md-card-header>
        <img md-card-image src="../../assets/team/srijan.jpg" height="200">
      </md-card>
      <md-card class="member">
        <md-card-header>
            <md-card-title>Utkarsh</md-card-title>

        </md-card-header>
        <img md-card-image src="../../assets/team/utkarsh.jpg">
      </md-card>
    </div>
    <div class="fx" fxLayout="row" fxLayoutAlign="center center">
      <md-card class="member">
        <md-card-header>
            <md-card-title>Prasanna</md-card-title>

        </md-card-header>
        <img md-card-image src="../../assets/team/prasanna.jpg">
      </md-card>
      <md-card class="member">
        <md-card-header>
            <md-card-title>Mithun</md-card-title>

        </md-card-header>
        <img md-card-image src="../../assets/team/mithun.jpg">
      </md-card>
    </div>
    <h2><b>MASTERS</b></h2>
    <div class="fx" fxLayout="row" fxLayoutAlign="center center">
      <md-card class="member">
        <md-card-header>
            <md-card-title>Pranjal</md-card-title>

        </md-card-header>
        <img md-card-image src="../../assets/team/Pranjal Seth.jpg">
      </md-card>
      <md-card class="member">
        <md-card-header>
            <md-card-title>Chirantan</md-card-title>

        </md-card-header>
        <img md-card-image src="../../assets/team/Chirantan Das.jpg">
      </md-card>
      <md-card class="member">
        <md-card-header>
            <md-card-title>Anshul</md-card-title>

        </md-card-header>
        <img md-card-image src="../../assets/team/anshul.jpg">
      </md-card>
    </div>
    <div class="fx" fxLayout="row" fxLayoutAlign="center center">
      <md-card class="member">
        <md-card-header>
            <md-card-title>Vatsal</md-card-title>

        </md-card-header>
        <img md-card-image src="../../assets/team/vatsal.jpg">
      </md-card>
      <md-card class="member">
        <md-card-header>
            <md-card-title>Arijit</md-card-title>

        </md-card-header>
        <img md-card-image src="../../assets/team/Arijit Goswami.jpg">
      </md-card>
    </div>
    <h2><b>ARCHITECTS</b></h2>
    <div class="fx" fxLayout="row" fxLayoutAlign="center center">
      <md-card class="member">
        <md-card-header>
            <md-card-title>Vedant</md-card-title>

        </md-card-header>
        <img md-card-image src="../../assets/team/vedant.jpg">
      </md-card>
      <md-card class="member">
        <md-card-header>
            <md-card-title>Saqib</md-card-title>

        </md-card-header>
        <img md-card-image src="../../assets/team/saqib.jpg">
      </md-card>
      <md-card class="member">
        <md-card-header>
            <md-card-title>Rajan</md-card-title>

        </md-card-header>
        <img md-card-image src="../../assets/team/rajan.jpg">
      </md-card>
      <md-card class="member">
        <md-card-header>
            <md-card-title>Prashant</md-card-title>

        </md-card-header>
        <img md-card-image src="../../assets/team/prashant.jpeg">
      </md-card>
    </div>
    <h2><b>APPRENTICES</b></h2>
    <div class="fx" fxLayout="row" fxLayoutAlign="center center">
      <md-card class="member">
        <md-card-header>
            <md-card-title>Shubhankar</md-card-title>

        </md-card-header>
        <img md-card-image src="../../assets/team/shubhanka.jpg">
      </md-card>
      <md-card class="member">
        <md-card-header>
            <md-card-title>Prakhar</md-card-title>

        </md-card-header>
        <img md-card-image src="../../assets/team/prakhar.jpg">
      </md-card>
      <md-card class="member">
        <md-card-header>
            <md-card-title>Sushant</md-card-title>

        </md-card-header>
        <img md-card-image src="../../assets/team/sushant.jpg">
      </md-card>
    </div>
    <h2><b>DEVELOPER</b></h2>
    <div class="fx" fxLayout="row" fxLayoutAlign="center center">
      <md-card class="member">
        <md-card-header>
            <md-card-title>ANUJ</md-card-title>

        </md-card-header>
        <img md-card-image src="../../assets/team/anuj.jpg">
      </md-card>
    </div>
</md-card>
<!-- <md-card class=" footer ">
    <h4><b>GAWDS 2017</b></h4>
</md-card> -->

