.header {
    width: 100%;
    height: 12%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #2C3E50;
    color: white;
    padding-bottom: 2%;
    font-weight: 700;
    align-content: centre;
}

.content {
    top: 12%;
    width: 100%;
    text-align: center;
    /* height: 100%; */
    position: absolute
}

.footer {
    background-color: #2C3E50;
    height: 9%;
    text-align: center;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
}

#progress {
    z-index: 1;
    top: 12%;
    position: absolute;
}

#one {
    background-color: #49E3C3;
    color: white;
    min-height: 100%;
}

#content-card {
    width: 50%;
    position: relative;
    left: 1%;
    top: 13%;
    color: #2C3E50;
}

.navigators {
    float: right;
    right: 2%;
    color: #2C3E50;
    margin: 1%;
    position: relative;
    top: -210%;
}

#twitter {
    position: absolute;
    overflow-y: scroll;
    right: 2%;
    height: 70%;
    width: 30%;
}

.member {
    width: 20%;
    margin: 2%;
    float: left;
}

#question {
    position: absolute;
    left: 2%;
    width: 60%;
}