<md-card class="header" fxLayout="row" fxLayoutAlign="stretch">
    <div class="navigators">
        <h3 class="hacked_font" ><b>OBSCURA 4.5</b></h3>
    </div>
    <div class="navigators" id="btns">
        <button md-raised-button  [mdMenuTriggerFor]="menu">LEVELS</button>
        <button  md-raised-button (click)="leaderboard()">LEADERBOARD</button>
        <button  md-raised-button (click)="ourTeam()">OUR TEAM</button>
        <button  md-raised-button (click)="Logout()">LOGOUT</button>
        <md-menu #menu="mdMenu">
          <div *ngFor="let list of level">
            <button md-menu-item (click)="openLevel(list.name)">LEVEL {{list.levelNo}}</button>
          </div>
        </md-menu>
    </div>
</md-card>
<md-card class="content" id="one">
    <md-card id="question">
        <h2><b></b></h2>
        <br>
        <img src="{{clevel.picture}}">
        <br>
        <br>
        <form #myForm="ngForm" (ngSubmit)="submitForm(myForm.value)">
            <md-input-container>
                <input mdInput placeholder="Type your answer here" [(ngModel)]="answer.ans" name="ans">
            </md-input-container><br>
            <button md-raised-button>Submit</button>
        </form>
    </md-card>
    <md-card id="twitter">
        <a class="twitter-timeline" href="https://twitter.com/obscura_nit_kkr">Tweets by Obscura</a>
    </md-card>
</md-card>
<md-card class=" footer ">
    <h4><b>GAWDS 2017</b></h4>
</md-card>
