<div class="head"></div>
<div class="bottom"></div>
<md-card class="card">
    <h1>Sign up to Obscura</h1>
    <md-input-container class="fields">
        <input mdInput placeholder="First Name">
    </md-input-container>
    <md-input-container class="fields">
        <input mdInput placeholder="Last Name">
    </md-input-container>
    <br>
    <md-input-container class="fields">
        <input mdInput type="email" placeholder="Email Address">
    </md-input-container>
    <br>
    <md-input-container class="fields">
        <input mdInput placeholder="Username">
    </md-input-container>
    <br>
    <md-input-container class="fields">
        <input mdInput type="password" placeholder="Password">
    </md-input-container>
    <br>
    <button md-raised-button [routerLink]="['/dashboard']">Sign Up</button>
</md-card>