<md-sidenav-container class="back">
    <md-sidenav #sidenav class="sidenav">
        <button md-raised-button [routerLink]="['/level/1']">Levels</button>
        <br>
        <br>
        <button md-raised-button [routerLink]="['/leaderboard']">Leaderboard</button>
    </md-sidenav>

    <div class="head">
        <button md-raised-button (click)="sidenav.open()"><md-icon>menu</md-icon></button>
    </div>
    <div class="bottom"></div>
    <md-card class="card">
        <h1>Obscura 4.5</h1>
        <br>
        <md-card class="element">
        </md-card>
        <h2>Rules</h2>
        <md-card class="element">
        </md-card>
    </md-card>
</md-sidenav-container>