.back {
    width: 100%;
    height: 100%;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sidenav {
    padding: 20px;
    width: 20%;
}

.head {
    position: absolute;
    height: 30%;
    width: 100%;
    background-color: black;
}

.bottom {
    position: absolute;
    top: 30%;
    height: 70%;
    width: 100%;
    background-color: #5c595e;
}

.card {
    position: absolute;
    z-index: 1;
    width: 80%;
    top: 15%;
    left: 10%;
}

.element {
    background-color: #f4f6f9;
}

.welcome {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1%;
}

.logo {
    position: absolute;
    top: 0;
    left: 49%;
}