/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
body,
html {
    margin: 0;
    height: 100%;
}
@font-face {
  font-family: hacked;
  src: url('../src/assets/fonts/HACKED.ttf');
}
.hacked_font{
  font-family: hacked;
}
h3{
  margin: 0;
}
